<h1>Editing Medical Center Worker</h1>

<%= render 'form', medical_center_worker: @medical_center_worker %>

<%= link_to 'Show', @medical_center_worker %> |
<%= link_to 'Back', medical_center_workers_path %>
